.dashboard {
  background-color: #1d6a8d;
  padding: 30px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  font-family: 'Coolvetica', Arial, Helvetica, sans-serif;

  margin: 50px auto;
}

.dashboard form p {
  margin-bottom: 15px;
}

.dashboard input[type='text'],
.dashboard textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #7db2c9;
  background-color: #1a5c78;
  color: #fff;
  font-size: 14px;
  outline: none;
  transition: border 0.3s;
}

.dashboard input[type='text']:focus,
.dashboard textarea:focus {
  border-color: #ffd700;
}

.dashboard textarea {
  height: 80px;
  resize: vertical;
}

.dashboard button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ffd700;
  color: #115173;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dashboard button:hover {
  background-color: #e6c200;
}

.dashboard button:not(:last-of-type) {
  margin-right: 10px;
}

.dashboard input[type='file'] {
  padding: 5px;
  background-color: #1a5c78;
  border: 1px solid #7db2c9;
  border-radius: 5px;
  color: #fff;
}

.dashboard input[type='text']:hover,
.dashboard textarea:hover {
  border-color: #ffd700;
}
